{% extends 'base.html.twig' %}

{% block title %}Matériels{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row d-flex justify-content-center">

			{# ----- Filters ----- #}
			<div class="col-lg-2 col-md-10 my-lg-4">
				<h2 class="filtersTitle m-0">Catégories</h2>
				<form class="filtersForm border border-top-0 pt-3 px-3 mb-3" id="filters">
					{% for category in categories %}
						<p class="filtersCategories">
							<input type="checkbox" name="categories[]" id="cat{{category.id}}" value="{{category.id}}">
							<label for="cat{{category.id}}">{{category.name}}</label>
						</p>
					{% endfor %}
				</form>
			</div>

			<div class="col-lg-10">

				{% for flashMessage in app.flashes('info') %}
					<div class="alert alert-info text-center mx-lg-5">
						{{flashMessage}}
						<a href="{{path('app_cart')}}" class="alert-link">panier</a>
					</div>
				{% endfor %}

				{% for flashMessage in app.flashes('valided_cart') %}
					<div class="alert alert-success text-center">
						{{flashMessage}}
					</div>
				{% endfor %}

				{# ----- Search bar ----- #}
				{# <div class="row d-flex justify-content-center">
				    <div class="col-11 col-lg-4">
				        {{form_start(form)}}
				            <div class="input-group mb-3">
				                <span class="input-group-text">
				                    <img src="{{asset("build/images/magnifying_glass.png")}}" alt="Icon de loupe" width="20px">
				                </span>
				                {{form_widget(form.name, {'attr': {'class': 'form-control-search'}})}}
				            </div>
				        {{form_end(form)}}
				    </div>
				</div> #}

				{# ----- Product display ----- #}
					<div class="row d-flex justify-content-center px-lg-5" id="content"> 
						{% include "product/content.html.twig" %}
					</div>

			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}
